[submodule "tokio"]
	path = tokio
	url = ../tokio
	branch = tokio-threadpool-preemptive
[submodule "futures"]
	path = futures
	url = ../tokio
	branch = futures-0.1-tls
[submodule "inger"]
	path = inger
	url = ../libinger
[submodule "wrk"]
	path = wrk
	url = ../wrk
	branch = latclasses
